{% extends 'bootstrap.base.twig' %}
{% import 'form.twig' as fm %}

{% block title %}{{ trans('Login') }}{% endblock %}

{% block css %}
    <style type="text/css">
        .login-box {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 500px;
        }

        .login-box form {
            width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-box">
        <form action="" method="post">
            {{ fm.csrf(form) }}
            {{ fm.show_messages(form) }}
            <div class="form-group">
                <input type="email" name="email" class="form-control {{ fm.input_class(form.email) }}" placeholder="{{ trans('Email') }}" value="{{ form.email.value }}">
                <div class="{{ fm.message_class(form.email) }}">{{ form.email.message }}</div>
            </div>
            <div class="form-group mg-b-10">
                <input type="password" name="password" class="form-control {{ fm.input_class(form.password) }}" placeholder="{{ trans('Password') }}">
                <div class="{{ fm.message_class(form.password) }}">{{ form.password.message }}</div>
            </div>
            <button class="btn btn-primary btn-block btn-signin mg-b-10">{{ trans('Login') }}</button>
        </form>
    </div>
{% endblock %}
